html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body,html {
	min-height: 100%;
}

body {
	width: 100%;
	margin: auto;
	background: #ccc;
}

h2 {
	font-size: 18px;
	text-align: center;
	padding: 14px 0;
}

.groutbuttons {
	text-align: center;
	padding: 14px 0;
}

.container {
	width: 90%;
	margin: auto;
	margin-top: 30px;
	font-family: sans-serif;
	font-size: 15px;
	background-color: white;
}

div.progressbar {
	border: 1px solid white;
	text-align: center;
	width: 80%;
	margin: 0 auto 10px;
	line-height: 36px;
	font-size: 12px;
	border-radius: 4px;
	background-color: #55EE88;

	-webkit-box-shadow: 0 0 0 2px rgba(45,145,45,.5);
	box-shadow: 0 0 0 2px rgba(45,145,45,.5);

	background: -webkit-linear-gradient(left, lightgreen 0%, white 0%);
	background: -moz-linear-gradient(left, lightgreen 0%, white 0%);
	background: -o-linear-gradient(left, lightgreen 0%, white 0%);
	background: -ms-linear-gradient(left, lightgreen 0%, white 0%);
	background: linear-gradient(left, lightgreen 0%, white 0%);
   
}

@media screen and (max-width: 300px) {
    select {display: none}
}